:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 50px;
  height: 60px;
}

:host([is-light]) {
  background-color: white;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

:host(:not([is-light])) {
  background-color: transparent;
  box-shadow: none;
}
