:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  padding: 5px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:host([align="center"]) {
  justify-content: center;
}

:host([align="start"]) {
  justify-content: flex-start;
}

:host([align="end"]) {
  justify-content: flex-end;
}
