:host {
  display: flex;

  font-family: "Orbitron", sans-serif;
}

:host([color="default"]) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
  }
}

:host([color="primary"]) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #df5b3e;
  }
}

:host([color="secondary"]) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

:host([align="start"]) {
  justify-content: flex-start;
}

:host([align="end"]) {
  justify-content: flex-end;
}

:host([align="center"]) {
  justify-content: center;
}

:host h1,
:host h2,
:host h3,
:host h4,
:host h5,
:host h6,
:host p,
:host span {
  margin: 0;
  padding: 2px 0;
  box-sizing: border-box;
}

:host p,
:host span {
  font-family: sans-serif;
  font-weight: 400;
}

:host h1 {
  font-size: 30px;
  font-weight: 900;
}

:host h2 {
  font-size: 28px;
  font-weight: 900;
}

:host h3 {
  font-size: 25px;
  font-weight: 900;

  &.light {
    font-weight: 500;
  }
}

:host h4 {
  font-size: 22px;
  font-weight: 700;
}

:host h5 {
  font-size: 20px;
  font-weight: 600;
}

:host h6 {
  font-size: 18px;
  font-weight: 600;
}

:host p {
  font-size: 16px;
}
:host span {
  font-size: 14px;
}

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $i in $weights {
  :host([weight="#{$i}"]) {
    * {
      font-weight: #{$i};
    }
  }
}
