:host {
  display: block;

  width: 150px;
  height: 50px;

  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}

:host([size="small"]) {
  height: 40px;
}

:host([size="medium"]) {
  height: 50px;
}

:host([size="large"]) {
  height: 60px;
  font-size: 16px;
}

:host div {
  display: flex;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  border: 3px solid #df5b3e;
  color: #333;

  font-size: 14px;
  font-weight: 900;

  transition: transform 200ms ease;

  &:hover {
    transform: scale(1.05);
  }
}
