:host {
  display: flex;
}

:host([size="small"]) {
  width: 64px;
  height: 64px;
}

:host([size="medium"]) {
  width: 150px;
  height: 150px;
}

:host([size="large"]) {
  width: 300px;
  height: 300px;
}
