:host {
  display: flex;
  flex-direction: column;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #333;
}

@for $i from 1 to 5 {
  :host([elevation="#{$i}"]) {
    border-color: transparentize(#333, 0.6);
    box-shadow: #{$i}px #{$i}px #{$i * 4}px transparentize(#333, 0.6);
  }
}

:host([with-hover]) {
  cursor: pointer;
  position: relative;

  ::slotted([slot="hover"]) {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparentize(#000, 0.4);
    transition: opacity 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  :hover {
    &::slotted([slot="hover"]) {
      opacity: 1;
    }
  }
}

:host([align="start"]) {
  align-items: flex-start;
}

:host([align="end"]) {
  align-items: flex-end;
}

:host([align="center"]) {
  align-items: center;
}

:host([justify="start"]) {
  justify-content: flex-start;
}

:host([justify="end"]) {
  justify-content: flex-end;
}

:host([justify="center"]) {
  justify-content: center;
}
