:host {
  display: block;

  background-color: #333;
  margin: 0;
  padding: 0;

  transition: border-radius 100ms ease-in-out;
}

:host([color="primary"]) {
  background-color: #df5b3e;
}

:host([color="secondary"]) {
  background-color: white;
}

:host([rounded]) {
  border-radius: 15px;
}
