:host {
  display: flex;
}

:host(img) {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  object-fit: contain;
}

:host([size="small"]) {
  width: 50px;
  height: 50px;
}

:host([size="medium"]) {
  width: 150px;
  height: 150px;
}

:host([size="large"]) {
  width: 270px;
  height: 270px;
}

:host([rounded]),
:host([rounded]) img {
  border-radius: 50%;
}
