:host {
  display: flex;
}

:host ul.menu {
  display: inline-flex;
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
    padding: 0 11px 5px 11px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
  }

  & li:hover {
    border-bottom: 3px solid #df5b3e;
  }

  & li a.menu-item,
  & li a.menu-item:visited {
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #333;
    height: 100%;
  }

  & li a.menu-item.selected {
    color: #df5b3e;
    font-weight: 900;
  }
}

:host(:not([is-light])) {
  box-shadow: none;
  & ul.menu li a.menu-item {
    color: white;
  }
  & ul.menu li a.menu-item.selected {
    color: #df5b3e;
  }
}
