:host {
  display: inline-flex;
  flex-direction: column;
  padding: 0 8px 12px 8px;
  border-bottom: 2px solid #000;

  input {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
  }

  input::placeholder {
    color: #ccc;
    letter-spacing: 0.5px;
  }
}

:host(:hover) {
  border-bottom-color: transparentize(#000, $amount: 0.4);
}

:host(.completed) {
  border-bottom-color: #df5b3e;
}
